# URL de l'API backend
# En développement local : http://<IP_MACHINE>:3000 (pas localhost — l'émulateur ne résout pas localhost)
# En production : https://api.mbolo-sante.com
EXPO_PUBLIC_API_URL="http://192.168.1.100:3000"
